name: Relabel PRs
permissions:
  pull-requests: write

on:
  pull_request:

jobs:
  run-check:
    runs-on: ubuntu-latest
    steps:
      - name: Remove `wait for update` label on push
        uses: actions/github-script@v6
        if: ${{ contains(github.event.pull_request.labels.*.name, 'wait for update') && !contains(github.event.pull_request.labels.*.name, 'user responded') }}
        with:
          script: |
            github.rest.issues.addLabels({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              labels: ["user responded"]
            })
            github.rest.issues.removeLabel({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              name: "wait for update"
            })
